pipeline/pl_cdc_ventes.json
{
	"name": "pl_cdc_ventes",
	"properties": {
		"activities": [
			{
				"name": "Lookup_GetCdcCursor",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT last_cdc_id_loaded FROM cdc_control WHERE table_name = 'ventes'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_watermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy_CdcToRaw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_GetCdcCursor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": {
							"value": "@concat('SELECT * FROM cdc_ventes WHERE cdc_id > ', activity('Lookup_GetCdcCursor').output.firstRow.last_cdc_id_loaded)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_postgres_source",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "@pipeline().parameters.p_table_name"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_raw",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "cdc_ventes"
						}
					}
				]
			},
			{
				"name": "UpdateCdcControl",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Copy_CdcToRaw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_azuresql_datalab",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@concat('UPDATE cdc_control SET last_cdc_id_loaded = ', \nstring(add(int(activity('Lookup_GetCdcCursor').output.firstRow.last_cdc_id_loaded), activity('Copy_CdcToRaw').output.rowsCopied)), \n', last_run_datetime = SYSUTCDATETIME() WHERE table_name = ''ventes''')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"p_table_name": {
				"type": "string",
				"defaultValue": "ventes"
			}
		},
		"annotations": []
	}
}