pipeline/pl_incremental_watermark_ventes.json
{
	"name": "pl_incremental_watermark_ventes",
	"properties": {
		"activities": [
			{
				"name": "Lookup_GetWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "@concat('SELECT last_loaded_value FROM watermark_control WHERE table_name = ''', pipeline().parameters.p_table_name, '''')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_watermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy_ToRaw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_GetWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": {
							"value": "@concat('SELECT * FROM ', pipeline().parameters.p_table_name, ' WHERE lastmodifieddate > ''', activity('Lookup_GetWatermark').output.firstRow.last_loaded_value, '''')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_postgres_source",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "@pipeline().parameters.p_table_name"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_raw",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "@pipeline().parameters.p_table_name"
						}
					}
				]
			},
			{
				"name": "Lookup_GetMaxDate",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy_ToRaw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": "@concat('SELECT MAX(lastmodifieddate) AS max_date FROM ', pipeline().parameters.p_table_name)",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_postgres_source",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "@pipeline().parameters.p_table_name"
						}
					}
				}
			},
			{
				"name": "UpdateWatermark",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Lookup_GetMaxDate",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_azuresql_datalab",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "@concat('UPDATE watermark_control SET last_loaded_value = ''', activity('Lookup_GetMaxDate').output.firstRow.max_date, ''', last_run_datetime = SYSUTCDATETIME() WHERE table_name = ''', pipeline().parameters.p_table_name, '''')"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"p_table_name": {
				"type": "string",
				"defaultValue": "ventes"
			}
		},
		"annotations": []
	}
}