pipeline/pl_incremental_watermark_ventes.json
{
	"name": "pl_incremental_watermark_ventes",
	"properties": {
		"activities": [
			{
				"name": "Lookup_GetWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": "@concat('SELECT last_loaded_value FROM watermark_control WHERE table_name = ''', pipeline().parameters.p_table_name, '''')",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_postgres_source",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "@pipeline().parameters.p_table_name"
						}
					}
				}
			},
			{
				"name": "Copy_ToBronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_GetWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "UpdateWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": "@concat('SELECT * FROM ', pipeline().parameters.p_table_name, ' WHERE lastmodifieddate > ''', activity('Lookup_GetWatermark').output.firstRow.last_loaded_value, '''')",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_postgres_source",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "@pipeline().parameters.p_table_name"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_bronze",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "@pipeline().parameters.p_table_name"
						}
					}
				]
			},
			{
				"name": "UpdateWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlV2Source",
						"query": "@concat('\nUPDATE watermark_control \nSET last_loaded_value = (SELECT MAX(lastmodifieddate) FROM ', pipeline().parameters.p_table_name, '), \n    last_run_datetime = now() AT TIME ZONE ''UTC'' \nWHERE table_name = ''', pipeline().parameters.p_table_name, ''' ;\nSELECT ''SUCCESS'' AS RESULT ;\n')",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "ds_postgres_source",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "@pipeline().parameters.p_table_name"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"p_table_name": {
				"type": "string",
				"defaultValue": "ventes"
			}
		},
		"annotations": []
	}
}